.form{
    width: 30%;
    margin: 0 auto;
}

.footer{
	justify-content: space-between !important;
}

.customerData{
    text-align: center;
    div{
        justify-content: center !important;
    }
}