.navbar-nav {
	align-items: center;
	font-family: "AkayaTelivigala";
}

.navTabs {
	margin: 0 10px;
	font-size: 24px;
	color: ghostwhite;
	text-transform: uppercase;
}

.navTabs:hover, .brand:hover{
	color: crimson;
	text-decoration: none;
}

.active{
	color: crimson;
}

.brand{
	color: #fff;
}